$backgroundColor: #252836;
$baseColor: #1f1d2b;
$primaryColor: #ea7c69;
$mainTextColor: #ffffff;
$middleGray: #abbbc2;
$lightGray: #e0e6e9;
$darkGray: #889898;
$borderColor: #393c49;
$inputBackground: #2d303e;
