@import "../../assets/styles/colors.scss";

.dishes {
  margin-top: 30px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &-text {
      font-size: 1.5rem;
    }
  }
}
